# секретный ключ, используемый для криптографических подписей.
SECRET_KEY=секретный ключ


DTBASE_NAME=Название базы данных
DTBASE_PASSWORD=Пароль
DTBASE_USER=Пользователь
DTBASE_HOST=Сервер
DTBASE_PORT=Порт