{% extends 'base.html'%}
{% load my_tags %}
{% block title%}Удалить продукт{% endblock %}
{% load static %}
{% block content %}
<h3>Удалить продукт</h3>

<div class="container ">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header bg-danger text-white">
                <h3 class="my-0 font-weight-normal">! Внимание !</h3>
            </div>
            <div class="container  text-center">
                <h3>Подтвердите удаление "{{product.name}}"</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="p-2 btn btn-outline-danger fixed-size-btn"> Удалить</button>
                    <a href="/product_card/{{product.pk}}" class="p-2 btn btn-outline-success fixed-size-btn">Отмена</a>
                </form>


            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</div>


{% endblock %}